cloudbuild-iam.sh

infrastructure/.terraform/**
infrastructure/.terraform.lock.hcl
infrastructure/.terraform.tfstate

.DS_Store
__pycache__

venv
venv/*
venv/**
**/.env
.venv
.venv/*
.venv/**

*/.venv
*/.venv/*
*/.venv/**

**/.vscode/

*/terraform.tfvars
