# Git
.git
.gitignore

# Docker
Dockerfile

# Python virtual environment
venv
.venv
__pycache__

# IDE settings
.vscode/

# Terraform state
infrastructure/
*.tfstate*
*/terraform.tfvars

# Local environment variables
local-env-vars.txt
.DS_Store
